body{
    background-image: url('background.png');
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}
.button-container {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover {
    background-color: #0056b3;
}
.button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
p {
    color: #fff;
    text-align: center;
}
h1 {
    color: #fff;
    text-align: center;
}
h2 {
    color: #fff;
    text-align: center;
}
h3 {
    color: #ff0000;
    text-align: center;
}